{
  "presets": [
    ["env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "ie >= 6"]
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ]
}